.WebContainer{
    width: 100%;
    height: auto;
}
body{
    background-color: #000000;

}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.Backgroundvideo{
    position: fixed;
    width:100%;
    height: 100%;
    z-index: -1;
    bottom: 0px;
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#IMG{
    position: fixed;
    transform:translate(-50%, -50%);
    top:50%;
    left:50%;
}
/* CSS rules for desktop devices */
@media screen and (min-aspect-ratio: 1/1) {
    /* Add your desktop-specific CSS rules here */
    #IMG {
        /* Desktop-specific styles */
        width: 100%;
        height: auto;
    }
    .selfp {

        position: fixed;
        width:49%;

        bottom: -10px;
        opacity: 0;
        transition: opacity 1.5s;
        left: 0px;
        z-index: -1;
    }
    .szoveg{
        position: fixed;
        width:47.5%;
        color: #009dc7;
        top:25%;
        opacity: 0;
        transition: opacity 1.5s;
        right: 0px;
        z-index: -1;
        pointer-events: none;
    }

}
/* CSS rules for mobile devices */
@media screen and (max-aspect-ratio: 1/1) {
    /* Add your mobile-specific CSS rules here */

    #IMG {
        /* Mobile-specific styles */
        height: 100%;
        width: auto;
    }
    .selfp {

        position: fixed;
        width:100%;

        bottom: 50%;
        opacity: 0;
        transition: opacity 1.5s;
        left: 0px;
        z-index: -1;
    }
    .szoveg{
        position: fixed;
        width:100%;
        color: #009dc7;
        top:50%;
        opacity: 0;
        transition: opacity 1.5s;
        right: 0px;
        z-index: -1;
        pointer-events: none;
    }
}
.eee{
    position: fixed;
    opacity: 0;
    color: #ff0a00;
    z-index: -10;
    transform:translate(-50%, -50%);
    top:50%;
    left:50%;
}
.eee2{
    position: fixed;
    opacity: 0;
    top: 100px;
    color: #ff0a00;
    z-index: -10;
    transform:translate(-50%, -50%);
    top:50%;
    left:50%;
}
.referencilya{
    position: absolute;
    top: 3500px;
}
.blue-orb {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: fixed;
    bottom: 0px;
    transform:translate(-50%, -50%);
    top:50%;
    left:50%;  /* horizontally centered */
    opacity: 0;
    background: radial-gradient(circle at center, #0065c7, #009ec8);
    transition: height 1s, opacity 1s, width 1s;
}
#sp{
    position: relative;
    width:100%;
    height:100%;

}
.szoveg h1{
    text-align: center;
    size: 55px;
}
.szoveg p{
    text-align: center;
    size: 35px;
}
